*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.section-one{
    display: flex;
    gap: 15px;
    border-bottom: solid black 1px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; 
    cursor: pointer;
    background-color: white;
}
.section-one__input{
    border-style:none;
    outline: solid black 1px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    flex-basis: 35%;
    align-items: center;
    
    
    
}

.section-one h1{
    color: rgb(104, 14, 189);
    display: flex;
    
}

.section-one__input input{
    border-style: none;
    font-size: 17px;
   
    
}

.section-one__input input:focus{
    outline: none;
}

.section-one__nav{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 30%;
    
}

.mylearning{
    position: relative;
    z-index: 1;  
}

.mylearning__popup{
    border: solid black 2px;
    padding: 10px;
    position: absolute;
    right: 0%;
    background-color: white;
    width: 100px;
    top: 30px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.category-menu__s1 p:hover{
    background-color: rgb(192, 185, 199);
}


.category-menu__s1{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 5px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top:20px ;
    
}

.category-menu__s1 p{
    background-color: blueviolet;
    border-radius: 20px;
    padding: 10px;
    flex-grow: 1;
}

.category-menu{
    border-bottom: solid black 1px;
    cursor: pointer;
}
.img-section img{
    width: 100%;
    height: 450px; 
}
.img-section{
    margin-top: 10px;
    position: relative;
}

.img-section__offer{
    width: 35%;
    border: solid black 2px;
    background-color: wheat;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 20px;
    font-weight: bolder;
}
.rm-course__s1{
    margin:15px 0 0 20px;
}
.course-card__s1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.course-card {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

.course-card article {
    flex: 1 1 300px;
}

.popular-course__card {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

.popular-course__card article {
    flex: 1 1 300px;
}

.popular-course__s1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.popular-course__title{
    margin: 15px;
}

.recommended-topic__input {
    margin-left: 20px;
    margin-bottom: 10px;
    border: solid black 2px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.recommended-topic__input input {
    border-style: none;
    padding: 10px;
    outline: none;
}

.recommended-topic__button {
    padding: 10px;
    background-color: blueviolet;
    font-weight: bolder;
    border: none;
    color: white;
    cursor: pointer;
}


.recommended-topic__input input:focus{
    outline: none;
}

.recommended-topic__button:hover{
    background-color: rgb(119, 75, 160);
    color: black;
}


.recommended-topic__title{
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}



.recommended-topic__s1{
    display: flex;
    flex-wrap: wrap;
}
.recommended-topic__s1 p{
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis:25%; 
    cursor: pointer;
    margin: 0 10px 10px 20px;

}

.recommended-topic__s1 p:hover{
    border: solid black 2px;
    background-color: black;
    color: white;
}

.footer-container{
    margin-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    cursor: pointer;
    border-bottom: solid white 2px;

}

.footer-container__s1 li{
    list-style: none;
    padding: 5px 0 5px 0;
}

.footer-container__s1 a{
    text-decoration: none;
    color: white;
}

.footer-container__title{
    margin: 25px;
}

.footer-container__s1{
     margin: 15px ; 
}


.copywrite{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}




